<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
   <head>
     <title>${title}</title>
     <link rel="stylesheet" type="text/css" href="style.css">
     <meta http-equiv="content-type" content="text/html; charset=utf-8">
   </head>
   
    <body>
      <h1>${title}</h1>
      <p>
      <img alt="Image ${image} " src="../${normal}/${image}_n.${extension}">
      <p>$link_previous - $link_next</p>
      <p>Télécharger l'image originale : ${image_original_link}</p>
      <p>Toutes les <a href="../index.html">images</a></p>
      <p>Ce dossier de photos est destiné à un usage privé et sera bientôt effacé.</p>
 </body>
</html>
